@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
    width: 115%;
    margin-left: -7.5%;
    background-color: #e3e9e3;
    padding: 1em;
    margin-bottom: 1em;
    border-color: rgb(52 211 153);
    border-style: solid;
    border-width: 2.5px;
}

.link-svg {
    display: inline-block !important;
}

.post-content p {
    margin-bottom: 1em;
}

.post-content a {
    text-decoration: underline;
    text-decoration-color: #34D399;
    text-decoration-thickness: 2px;
}

h1 {
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 500;
}

.post-content h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.15em;
    font-weight: 450;
}

.post-content h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.05em;
    font-weight: 450;
}

ul {
    list-style: none;
}

.post-content ul {
    list-style: disc;
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.post-content ol {
    list-style: decimal;
    margin-left: 1.5em;
}

.post-content .inline {
    /* inline code */ 
    background-color: #e3e9e3;
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
}
