<!DOCTYPE html>
<% import Components %>
<html lang="en">
  <head>
    <%= render.("templates/head.html.eex") %>
    <title>SIMple Physics</title>
  </head>

  <body>
    <div class="grid grid-cols-3">
      <div class="container ml-6">
        <h2 class="mt-14 text-xl font-semibold"> Categories </h2>
        <ul class="">
          <li class="mb-1"><%= ul_link("#{base_url}/labs.html", "All") %></li>
          <li class="mb-1"><%= ul_link("#{base_url}/labs/Gravity.html", "Gravity") %></li>
          <li class="mb-1"><%= ul_link("#{base_url}/labs/Mechanics.html", "Mechanics") %></li>
        </ul>
      </div>
      <div class="container mx-auto max-w-prose">
        <h2 class="text-3xl font-semibold"> <%= category %> Labs </h2>
        <%= if Enum.empty?(labs) do %>
          <p>More labs coming soon</p>
        <% else %>
          <%= for lab <- labs do %>
            <a href="lab/<%= lab |> Lab.url %>.html">
              <div class="mt-6 p-5 bg-emerald-200 
                          outline outline-emerald-200 outline-3 hover:outline-offset-4
                          transition-all duration-75">
                <h3 class="text-xl font-semibold"> 
                  <%= lab |> Lab.title() %> 
                </h3>
                <h4 class="text-xs mb-2"> 
                  <%= lab |> Lab.categories() |> Enum.join(", ") %>
                </h4>
                <p> 
                <%= lab |> Lab.description() %>..
                </p>
              </div>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
  </body>
</html>
