<!DOCTYPE html>
<% import Components %>
<html lang="en">
  <head>
    <%= render.("templates/head.html.eex") %>
    <title>SIMple Physics</title>
  </head>

  <body class="relative min-h-screen">
    <div class="md:grid md:grid-rows-1 md:grid-cols-12">
      <%= category_list(list_path) %>
      <div class="container mx-auto max-w-prose md:col-span-11 px-3">
        <h2 class="text-center mt-4 md:mt-0 md:text-left text-3xl font-semibold"> <%= category %> <%= post_type %>s </h2>
        <%= if Enum.empty?(posts) do %>
          <p>More coming soon!</p>
        <% else %>
          <%= for post <- posts do %>
            <a href="<%= base_url %>/<%= path %>/<%= post |> Post.url() %>.html">
              <div class="mt-6 p-5 bg-emerald-200 
                           outline outline-emerald-200 outline-3 hover:outline-offset-4
                           md:mr-10
                          transition-all duration-75">
                <h3 class="text-xl font-semibold"> 
                  <%= post |> Post.title() %> 
                </h3>
                <h4 class="text-xs mb-2"> 
                  <%= post |> Post.categories() |> Enum.join(", ") %>
                </h4>
                <p> 
                <%= post |> Post.description() %>
                </p>
              </div>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
  </body>
  <footer class="absolute text-center text-xs bottom-2.5 w-full">
    Copyright © <%= Date.utc_today().year %>
  </footer>
</html>
